[{:itonami.blueprint/social-impact [:worker-safety :industrial-continuity]
  :itonami.blueprint/domain :manufacturing/assembly-line-scheduling-logistics-coordination
  :itonami.blueprint/required-technologies [:robotics :identity :audit-ledger]
  :itonami.blueprint/isco-08 "8219"
  :itonami.blueprint/name "Assemblers Not Elsewhere Classified Line Scheduling and Logistics Coordination Practice"
  :itonami.blueprint/governor :assembly-coord-governor
  :itonami.blueprint/robotics true
  :db/id -1
  :itonami.blueprint/status :public-oss
  :itonami.blueprint/id "cloud-itonami-isco-8219"
  :itonami.blueprint/license "AGPL-3.0-or-later"}]
